doctype html
html(lang="en")
	head
		title= Woodpeck
		link(rel="stylesheet" type="text/css" href="css/main.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body
		.container
			.row
				.col-md-8 
					button(type="button" class="btn btn-success btn-full-width") Start streaming
					video(width="100%" autoplay loop muted)
						source(src="http://www.w3schools.com/tags/movie.mp4")
				.col-md-4
					table(class="table table-bordered")
						tr
							th 
							th Main KPI
						tr
							td Conversion
							td 1.1%
						tr
							td Orders amt.
							td 106							
						tr
							td Viewers (live)
							td 1501
						tr
							td Unq. viewers
							td 9501
		<script src="js/mine.min.js"></script>

